spring:
  application:
    name: gifpt
  # 로컬 .env 쓰고 싶으면 옵션으로만 불러와라이
  config:
    import: "optional:file:.env[.properties]"

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /v3/api-docs

gifpt:
  jwt:
    expires-in-ms: 3600000  # 1시간
  